<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="DB937BC2D44FF139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.84.0" newVersion="1.0.84.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSHttpBinding_IAuthorityServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_ICommonServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IFinanceServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:20:00" sendTimeout="00:10:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxBufferSize="67108864" maxReceivedMessageSize="67108864"
          textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true"
          messageEncoding="Text">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="08:10:00" sendTimeout="00:12:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <reliableSession ordered="true" inactivityTimeout="08:00:00" />
          <security mode="None">
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISystemLogServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="08:10:00" sendTimeout="00:12:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <reliableSession ordered="true" inactivityTimeout="08:00:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IServiceReceivables" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="08:10:00" sendTimeout="00:12:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <reliableSession ordered="true" inactivityTimeout="08:00:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IECommerceServiceMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="08:10:00" sendTimeout="00:12:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <reliableSession ordered="true" inactivityTimeout="08:00:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
        <binding name="WSHttpBinding_IWorkflow_SessionMgr" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="08:10:00" sendTimeout="00:12:00"
          bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="67108864" maxReceivedMessageSize="67108864"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="67108864"
            maxArrayLength="67108864" maxBytesPerRead="67108864" maxNameTableCharCount="67108864" />
          <reliableSession ordered="true" inactivityTimeout="08:00:00"
            enabled="true" />
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_IAuthorityServiceMgr"
        contract="ServiceMethod.IAuthorityServiceMgr" name="WSHttpBinding_IAuthorityServiceMgr" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_ICommonServiceMgr"
        contract="ServiceCommon.ICommonServiceMgr" name="WSHttpBinding_ICommonServiceMgr" />
      <endpoint address="" binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IServiceMgr"
        contract="ServiceMgr.IServiceMgr" name="WSDualHttpBinding_IServiceMgr" />
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceReceivables"
        contract="ServiceReceivables.IServiceReceivables" name="WSHttpBinding_IServiceReceivables" />
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISystemLogServiceMgr"
        contract="ServiceSystemLog.ISystemLogServiceMgr" name="WSHttpBinding_ISystemLogServiceMgr" />
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IECommerceServiceMgr"
        contract="ServiceECommerce.IECommerceServiceMgr" name="WSHttpBinding_IECommerceServiceMgr" />
      <endpoint address="" binding="basicHttpBinding" bindingConfiguration="WSHttpBinding_IFinanceServiceMgr"
        contract="ServiceFinance.IFinanceServiceMgr" name="WSHttpBinding_IFinanceServiceMgr" />
      <endpoint address="" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWorkflow_SessionMgr"
        contract="ServiceWorkFlowDAL.IWorkflow_SessionMgr" name="WSHttpBinding_IWorkflow_SessionMgr" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="Skin" value="Blue" />
    <!--<add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ServicePort" value="8701" />
    <add key="IsReadSQLConfig" value="1" />
    <add key="LinkType" value="0" />
    <add key="LoginDefaultUserName" value="0" />
    <add key="DBConnect" value="D1" />
    <add key="Constring" value=""/>
    <add key="UpdateServerUrl" value=""/>-->
    <add key="DataProviderDllFile" value="SQLServerDal.dll"/>
    <add key="DataProviderFactoryName" value="SQLServerDal.SQLDal"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
